/* Search Table Styles */
.search-container {
  width: 100%;
  padding: 20px;
  background-color: #2e2e2e;
  color: #ffffff;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  color: #888;
}

.filter-input {
  display: flex;
  flex-direction: column;
}

.filter-input label {
  margin-bottom: 5px;
  color: #cccccc;
}

.filter-input input {
  padding: 8px;
  background-color: #3e3e3e;
  border: 1px solid #555;
  color: #333;
  border-radius: 4px;
}

.search-results {
  width: 100%;
  border-collapse: collapse;
}

.search-results thead {
  background-color: #3e3e3e;
}

.search-results th, 
.search-results td {
  /* border: 1px solid #555; */
  /* padding: 0px; */
  text-align: left;
  max-width: 200px;
}

.search-results tbody tr:nth-child(even) {
  background-color: #383838;
}

.search-results a {
  color: #4da6ff;
  text-decoration: none;
}

.search-results a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff4444;
  background-color: #3e2e2e;
  padding: 15px;
  border: 1px solid #ff4444;
  border-radius: 4px;
  margin-bottom: 20px;
}